* {
    box-sizing: border-box;
}

.one {
    margin: 20px auto;
    display: grid;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    font-weight: bold;
}

.one  div:nth-child(1) div:nth-last-child(2) {
    color: red;
}